html,
body {
  height: 100%;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10pt;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}
#wrap .container { 
  padding-top: 60px;
}

.container{
   visibility: visible!important;
   animation: fadein 1s;
  -moz-animation: fadein 1s; /* Firefox */
  -webkit-animation: fadein 1s; /* Safari and Chrome */
  -o-animation: fadein 1s; /* Opera */
}

@keyframes fadein {
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
    opacity:0;
  }
  to {
    opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
    opacity:0;
  }
  to {
    opacity: 1;
  }
}​

/* Set the fixed height of the footer here */
#push,
footer {
   height: 60px;
   clear: both;
}
footer {
   background-color: #f5f5f5;
}
.credit {
   text-align: center;
   margin: 20px 0;
}

kbd {
  padding: 0.1em 0.6em;
  border: 1px solid #ccc;
  font-size: 11px;
  font-family: Arial,Helvetica,sans-serif;
  background-color: #f7f7f7;
  color: #333;
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.2),0 0 0 2px #ffffff inset;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: inline-block;
  margin: 0 0.1em;
  text-shadow: 0 1px 0 #fff;
  line-height: 1.4;
  white-space: nowrap;
}

.navbar-text p.field-tiny, .navbar-text p.field-wide {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.navbar-text p.field-tiny {
  min-width: 50px;
}
.navbar-text p.field-wide {
  min-width: 120px;
}

.clickable {
   cursor: pointer;
}

#map {
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}
#map tbody {
  display: block;
}
#map td {
  width: 10px;
  height: 10px;
  padding: 0px;
  border-color: #f0f0f0;
}
#map td div {
  display: block;
  height:100%;
  width:100%;
}

#agent-viewer {
  padding: 0px;
  line-height: 0px;
}
#agent-viewer div {
  margin: 2px;
  display: inline-block;
  border: 1px solid #ccc;
  width: 21px;
  height: 21px;
}
#agent-viewer div.selected {
  border: 1px solid rgba(88, 172, 250, 0.8);
  -moz-box-shadow: 0px 0px 5px 2px rgba(88, 172, 250, 0.5);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(88, 172, 250, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(88, 172, 250, 0.5);
}
#agent-viewer div:hover {
  -moz-box-shadow: 0px 0px 5px 2px rgba(88, 172, 250, 0.5);
  -webkit-box-shadow: 0px 0px 5px 2px rgba(88, 172, 250, 0.5);
  box-shadow: 0px 0px 5px 2px rgba(88, 172, 250, 0.5);
}

.well.toolbox h3 {
  display: block;
  padding-left: 0px;
  font-size: 12px;
  font-weight: bold;
  line-height: 20px;
  color: #999;
  text-shadow: 0 1px 0 rgba(255,255,255,0.5);
  text-transform: uppercase;
}
.well.toolbox .switch {
  margin-top: -4px;
}


h3.success{
  background: #99FF33;
  padding: 5px;
  text-align: center;
}

table td{
  width: 88px;
  text-align: center;
  height: 16px;
}

table td, table tr{
  border: 1px solid gray;
  border-width: 1px 0 0 1px;
  padding: 3px;
}

table tr > td:last-child{
  border-right-width: 1px;
}

table tr:last-child td{
  border-bottom-width: 1px;
}

#dictionaries td{
  font-size: 80%;
}

.item-cell{
  background-color: hsl(120,25%,80%);
}

#agent-details label{
  display:inline-block;
  width: 6.5em;
}

#agent-details .id, #agent-details label{
  font-weight: bold;
  font-color: #333;
}

#agent-details .id{
  font-style: italic;
}

#agent-details .id label{
  font-style: normal;
}

/* Bootstrap redefinition! */
.tooltip {
  z-index: 1010;
}
